html, body {
    background-color: #FFF;
	position: relative;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
	color: #FFF;
	text-align: center;
	font-weight: lighter;
	font-size: 2em;
	padding: 0px;
	margin: 0px;
} 

p {
	text-align: center;
	font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
}

#centre{
	text-align: center;
}

#topbar{
	text-align: center;
	background-color: #242;
	padding: 2%;
}